body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

/* Styling untuk link di sidebar */
.list-group-item-action {
    background-color: transparent;
    color: #fff;
    border: 0;
}

.list-group-item-action:hover,
.list-group-item-action:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.list-group-item-action.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: #fff;
    font-weight: 500;
}

/* Pada layar besar, content akan bergeser */
@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}